<!DOCTYPE html>
<html>
  <head>
    <% include ./layout/head %>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
    <div id="react-entry"></div>
    <% include ./layout/body-scripts %>
  </body>
</html>
